:root {
    --base: #fcf9ed;
    --border: #539fb8;
}

@value borderSize: 0.2;

.border {
	width: 73px;
	height: 102px;
	background-color: var(--base);
    border: solid var(--border);
    border-width: borderSize;
    margin: 5px;
    position: relative;
}

.inGroup {
    composes: border;
    border-width: 8;
    border-color: red;
}