:root {
    --base: #fcf9ed;
    --border: #539fb8;
    --base-gray: #696969;
    --warning: #d9c93d;
}

.name {
    width: 35px;
	height: 18px;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: var(--base-gray);
    -webkit-text-stroke: 0 var(--border);
    position: absolute;
    top: 33px;
    left: 19px;
    margin: 0px;
}

.warning {
    position: absolute;
    top: 1px;
    right: 1px;
}

.actPos {
    position: absolute;
    top: 56px;
    left: 18px;
    width: 52px;
	height: 15px;
	font-family: Roboto, sans-serif;;
	font-size: 18px;
	font-weight: bold;
	color: var(--border);
    -webkit-text-stroke: 0 var(--border);
    margin: 0px;
}

.destPos {
    position: absolute;
    top: 73px;
    left: 18px;
    width: 43px;
	height: 15px;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
    color: var(--warning);
    margin: 0px;
}

.separator {
    position: absolute;
    left: 25px;
    top: 75px;
    width: 20px;
	height: 1px;
    background-color: var(--base-gray);
    margin: 0px;
}

.maxPos {
    width: 37px;
	height: 11px;
    position: absolute;
    left: 19px;
    top: 1px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: bold;
    color: var(--base-gray);
    margin: 0px;
}

.minPos {
    width: 28px;
	height: 11px;
    position: absolute;
    left: 19px;
    bottom: 1px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: bold;
    color: var(--base-gray);
    margin: 0px;
}