.defaultJoy {
    border: solid 4px gray;
}

.redJoy {
    border: solid 4px red;
}

.blueJoy {
    border: solid 4px blue;
}

.greenJoy {
    border: solid 4px green;
}

.yellowJoy {
    border: solid 4px yellow;
}