:root {
    --border: #539fb8;
    --warning: #d9c93d;
}

.base {
    position: relative;
    width: 16px;
    height: 102px;
	background-color: white;
    border-right: solid 1px var(--border)
}

.bar {
    position: absolute;
    bottom: 0px;
    width: 16px;
	background-color: var(--border);
}

.destMark {
    position: absolute;
    height: 2px;
    width: 17px;
	background-color: var(--warning);
}