.configAreaWrapper {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas:    "subnav"
                            "editor";
}

.subNav {
    grid-area: subnav;
}

.bottomEditor {
    grid-area: editor;
}