:root {
    --warning: #d9c93d;
    --error: #f57f7f;
    --fatal: #f52c68;
    --base-gray: #696969;
}

.name {
    position: absolute;
    margin: 0px;
    width: 17px;
	height: 10px;
	font-family: Roboto;
	font-size: 8px;
	font-weight: bold;
	color: #696969;
    color: var(--base-gray);
    text-align: center;
}

.warnRectangle {
    width: 18px;
	height: 11px;
	border-radius: 1px;
	background-color: var(--warning);
    border: solid 0.5px var(--warning);
    position: relative;
}

.errRectangle {
    width: 18px;
	height: 11px;
	border-radius: 1px;
	background-color: var(--error);
    border: solid 0.5px var(--error);
    position: relative;
}

.fatalRectangle {
    width: 18px;
	height: 11px;
	border-radius: 1px;
	background-color: var(--fatal);
    border: solid 0.5px var(--fatal);
    position: relative;
}