:root {
    --button-style: {
        width: 50%;
        float: left;
        margin-bottom: 20px;
    }
}

.navButtonPassive {
    @apply --button-style;
}

.navButtonActive {
    @apply --button-style;
    border-bottom: solid 2px black;
}

.navBar {
    margin-bottom: 20px;
}
