
:root {
    --subtitle-theme: {
        font-family: Roboto, sans-serif;
        font-size: 16px; 
        font-weight: bold;
    }
}

.settingsWrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:    "name   hoist   dead"
                            "sets   hoist   dead";
}

.hoistListContainer {
    position: relative;
    overflow: scroll;
    height: 400px;
    grid-area: hoist;
}


.nameInput {
    grid-area: name;
}

.nameInputTitle {
    @apply  --subtitle-theme;
}

.modeRadioGroup {
    grid-area: sets;
}

.modeTitle {
    @apply  --subtitle-theme;
}

.deadList {
    grid-area: dead;
}

