.wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 0px;
    grid-template-areas:    "x y";
}

.editArea {
    grid-area: y;
}
.dataWrapper {
    grid-area: x;
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:    "ta tb tc td te"
                            "a  b  c  d  e";
}

.sceneName {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    grid-area: a;
}

.sceneTitle {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: lightgray;
    grid-area: ta;
}

.groupTitle {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: lightgray;
    grid-area: tb;
}

.deadTitle {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: lightgray;
    grid-area: tc;
}

.hoistTitle {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: lightgray;
    grid-area: td;
}

.groups {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    grid-area: b;
}

.deads {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    grid-area: c;
}

.hoists {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    grid-area: d;
}

.editActions {
    /* grid-area: te; */
    float: right;
}

.deadIcons {
    padding-top: 35px;
}

ul {
    list-style: none;
}

.custom_li {
    padding-bottom: 20px;
}