.sceneContainer {
    position: relative;
    overflow: scroll;
    height: 300px;
}

.sceneElement {
    /* margin-bottom: 50px; */
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

.activeSceneElement {
    border: solid;
    border-width: 5px;
    border-color: #539fb8;
}

.currentSceneButton {
    margin-bottom: 5px;
}